<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление товара</title>
    <link th:href="@{/css/product/addProduct.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div id="interface">
    <hr>
    <h3>ДОБАВЛЕНИЕ ПРОДУКЦИИ</h3>
    <hr>
    <form th:method="POST" th:action="@{/admin/product/add}" th:object="${product}" enctype="multipart/form-data">
        <label for="title">введите наименование товара: </label>
        <input type="text" th:field="*{title}" placeholder="наименование" id="title">
        <div style="color: brown; font-family: Calibri; font-style: italic" th:if="${#fields.hasErrors('title')}"
             th:errors="*{title}"></div>
        <br>
        <br>
        <label for="description">введите описание товара: </label>
        <textarea th:field="*{description}" placeholder="описание" id="description"></textarea>
        <div style="color: brown; font-family: Calibri; font-style: italic" th:if="${#fields.hasErrors('description')}"
             th:errors="*{description}"></div>
        <br>
        <br>
        <label for="price">введите цену товара: </label>
        <input type="number" th:field="*{price}" min=1 step=0.00 placeholder="цена" id="price"></input>
        <div style="color: brown; font-family: Calibri; font-style: italic" th:if="${#fields.hasErrors('price')}"
             th:errors="*{price}"></div>
        <br>
        <br>
        <label for="warehouse">введите адрес для выдачи заказа: </label>
        <input type="text" th:field="*{warehouse}" min=1 step=0.00 placeholder="адрес" id="warehouse"></input>
        <div style="color: brown; font-family: Calibri; font-style: italic" th:if="${#fields.hasErrors('warehouse')}"
             th:errors="*{warehouse}"></div>
        <br>
        <br>
        <label for="category">выберите категорию товара: </label>
        <select name="category" th:field="*{category}" id="category">
            <div th:each="element: ${category}">
                <option th:text="${element.getName()}" th:value="${element.getId()}"></option>
            </div>
        </select>
        <div style="color: brown; font-family: Calibri; font-style: italic" th:if="${#fields.hasErrors('category')}"
             th:errors="*{category}"></div>
        <br>
        <br>
        <label for="seller">введите описание продавца: </label>
        <textarea th:field="*{seller}" placeholder="продавец" id="seller"></textarea>
        <div style="color: brown" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>
        <br>
        <br>
        <p style="color: brown; font-family: Calibri; font-style: italic">место для фотокарточки продукта</p>
        <input type="file" name="file_one">
        <br>
        <br>
        <br>
        <hr>
        <input type="submit" value="ДОБАВИТЬ" style="background-color: white">
    </form>
</div>
</body>
</html>