body {
    background: #E6E6FA;
}

#interface {
    width: 90%;
    max-height: 100%;
    margin: 75px auto;
    padding: 75px;
    /*background: linear-gradient(90deg, rgba(155, 174, 185, 1) 0%, rgba(208, 227, 237, 1) 45%, rgba(217, 234, 244, 1) 100%);*/
    /*font-size: 16px;*/
    /*border-radius: 2px;*/
    /*box-shadow: 1px 1px 10px 5px #a5becc;*/
}

h3, a, p {
    font-family: "Calibri";
    text-decoration: none;
    color: black;
}

img {
    width: 300px;
}
