<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о товаре: </title>
    <link th:href="@{/css/user/infoProduct.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div id="interface">
    <a href="javascript:history.back()">Назад</a>
    <h3>ИНФОРМАЦИЯ О ПРОДУКТЕ: </h3>
    <p th:text="'Наименование товара: ' + ${product.getTitle()}"></p>
    <p th:text="'Описание товара: ' + ${product.getDescription()}"></p>
    <p th:text="'Цена товара: ' + ${product.getPrice()}"></p>
    <p th:text="'Адрес: ' + ${product.getWarehouse()}"></p>
    <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
    <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
    <div th:each="img : ${product.getImageList()}">
        <img th:src="'/img/' + ${img.getFileName()}">
    </div>
</div>
</body>
</html>