body {
    background: #E6E6FA;
}

#interface {
    width: 90%;
    max-height: 100%;
    margin: 125px auto;
    padding: 100px;
}

h1, a, p {
    font-family: "Calibri";
}

input:hover, a:hover, p:hover, button:hover {
    color: white;
}