<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>контакты</title>
    <link rel="icon" href="https://i.pinimg.com/originals/21/79/61/217961cb51b449d1eb9e25724efc6b5d.png">
<!--    <link th:href="@{/css/contacts.css}" type="text/css" rel="stylesheet">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>
        body {
            background: #1c1b1b;
            color: #fff;
        }
        #interface {
            width: 90%;
            max-height: 100%;
            margin: 125px auto;
            padding: 100px;
        }
        h1, h3, h4, pre {
            font-family: "Calibri Light";
            text-decoration: none;
        }
    </style>
</head>
<body>
<nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
    <span class="navbar-text">
        <a class="navbar-brand" href="/product">
            <img src="https://i.pinimg.com/originals/21/79/61/217961cb51b449d1eb9e25724efc6b5d.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            КИТАЕД | авторская китайская кухня в Нижнем Новгороде
        </a>
    </span>
    </div>
</nav>
<div id="interface">
 <h1>FAQ (Frequently Asked Questions)</h1>
<pre>
 <b>1. Как я могу связаться с вами?</b>
    Наши контакты для связи указаны ниже.

 <b>2. Сколько времени занимает ответ на мой вопрос?</b>
    Мы обычно отвечаем в течение 24 часов после получения вашего вопроса.

 <b>3. Какая информация мне необходима, чтобы задать вопрос?</b>
    Мы рады ответить на любые вопросы, связанные с нашей продукцией или услугами. Пожалуйста, укажите конкретный
    вопрос или проблему, и мы предоставим решение.

 <b>4. Можете ли вы помочь мне выбрать продукт, который подходит для моих потребностей?</b>
    Конечно! Наша команда специалистов поможет вам выбрать продукт, который наилучшим образом соответствует вашим потребностям.

 <b>5. Я хочу вернуть продукт. Как мне это сделать?</b>
    Пожалуйста, свяжитесь с нашим отделом обслуживания клиентов для получения инструкций по возврату продукта.
</pre>

 <br>
 <h3>КОНТАКТЫ</h3>
<pre>
 <b>Email:</b> kitaed@kitaed.com

 <b>Телефон:</b> +7 (123) 456-78-90

 <b>Адрес:</b> г. Нижний Новгород, Россия
</pre>
    <a href="https://vk.com/daria.romanova" target="_blank"><img src="https://www.vseprosport.ru/images/social/vk.png"
                                                 alt="мы ВКонтакте" width="40px" height="30px"></a>
<br><br>
 <h3>ВОПРОСЫ И ОТВЕТЫ</h3>
<pre>
 <b>1. Предоставляете ли вы доставку?</b>
    Да, мы предоставляем доставку нашей продукции по всему городу.

 <b>2. Какие формы оплаты вы принимаете?</b>
    Мы принимаем платежи с помощью кредитных карт, PayPal и банковского перевода, возможен также наличный расчет.

 <b>3. Как долго занимает доставка?</b>
    Время доставки зависит от вашего местоположения и выбранного вами метода доставки. Мы стараемся сделать все возможное, чтобы ваш заказ был доставлен как можно быстрее.

 <b>4. Гарантируете ли вы качество своих продуктов?</b>
    Да, мы гарантируем высокое качество нашей продукции. Если у вас возникнут какие-либо проблемы с качеством, пожалуйста, свяжитесь с нами для получения замены или возврата.
</pre>
<br>
<h4> Мы готовы ответить на любые вопросы и решить любые проблемы, связанные с нашей продукцией и услугами. Свяжитесь с
 нами, чтобы получить подробную информацию о наших продуктах и услугах, или любой другой вопрос, который у вас может возникнуть.
</h4>
</div>
<nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
    <span class="navbar-text">
        <a class="navbar-brand" href="#">
            <img
                    src="https://sun9-52.userapi.com/impg/k33hGSL6f9vc-GWrYvCo4q9GMoeFUpd707rJdQ/-x1MO4AK1A8.jpg?size=455x150&quality=95&sign=71ad5b878d0a9e3a0da0f84554785b4c&type=album" alt="Logo" width="110" height="24" class="d-inline-block align-text-top">
            <span class="text-sm-start">© все права защищены</span>
      <a class="text-sm-center" href="/contacts" style="text-decoration: underline; color: white">FAQ и контакты</a>
            <a class="text-sm-center" href="/product" style="text-decoration: underline; color: white">перейти в
                каталог</a>
        </a>
    </span>
    </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>