body {
    background: #E6E6FA;
}

#interface {
    width: 90%;
    max-height: 100%;
    margin: 75px auto;
    padding: 75px;
}

h3, a, p {
    font-family: "Calibri";
}

img {
    width: 300px;
}

img:hover, p:hover {
    /*background-color: white;*/
    color: #9370DB;
    box-shadow: 1px 1px 25px 1px #b1a1d3;
}